html
   head
     title Login
   body
     h1 Iniciar Sesión
     form(action='/login', method='POST')
       label(for='username') Usuario:
       input(type='text', name='username', required)
       br
       label(for='password') Contraseña:
       input(type='password', name='password', required)
       br
       input(type='submit', value='Iniciar Sesión')